#bodyall {
    border-top: 3pt solid rgb(214, 145, 24);

    background-color: rgb(255, 253, 247);}

#iconsection {
    background-color: white;
    border-top: 1px solid rgb(214, 145, 24);
    border-left: 1px solid rgb(214, 145, 24);
    border-bottom: 5px solid rgb(214, 145, 24);
    border-right: 5px solid rgb(214, 145, 24);
    border-radius: 40px;
    padding:10px;
    display: inline-block;
    margin-left: 35pt;
    margin-top: 15pt;}


#navsection {float: right;
    margin-right: 30pt;
}

#navsection nav ul {
    background-color: white;
    margin-top: 20pt;
    padding :5pt 10pt;
    border-top: 2px solid rgba(167, 121, 14, 0.972);
    border-left: 2px solid rgba(167, 121, 14, 0.972);
    border-bottom: 6px solid rgba(167, 121, 14, 0.972);
    border-right: 6px solid rgba(167, 121, 14, 0.972);
    border-radius: 10pt;}

#navsection nav ul :hover {background-color: rgb(255, 224, 158);}

#navsection nav ul li {
    display: inline-block;
    list-style-type: none;
    padding:0 15px;
    border-top: 5px dashed rgb(255, 197, 61);
    border-bottom: 5px dashed rgb(255, 197, 61);}

#navsection nav ul a {
    color: black;
    text-decoration: none;}

/*----------------------------------------------------------------------------*/
/*여기부터 본문내용*/
section {
    margin-left:10pt;
    margin-top: 10pt;
    margin-right: 10pt;
    border-top: 5pt solid rgb(202, 135, 19);
    border-bottom:10pt solid rgb(197, 132, 20);
    width:auto;
    text-align: center;}
section img {margin-top: 15pt;
    border: 25pt rIdge rgba(199, 126, 43, 0.972);}
section div h1{background-color: white;
    border: 3pt solid black;
    padding:  0pt}
/*----------------------------------------------------------------------------*/
/*하단부*/

footer {
    background-color: rgba(167, 106, 14, 0.972);
    width: auto;
    height: 5vh;
    padding-bottom:10px;}

footer p {
    color:beige;
    float: right;
    margin-right: 35pt;
    text-decoration: underline;}