.steam_css {
    position: absolute;
    top: 150%;
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 20px;
    filter: blur(1px);
    animation: steamup;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
 
@keyframes steamup {
    from {
        top: 110%;
    }
    to {
        top: 0%;
        opacity: 0;
    }
}
